{% extends 'index.html' %}
{% load static %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if product.image %}
                                <img class="card-img-top" src="{{ product.image.url  | default:"{% static 'img/download.png '%}"}}" alt="..." height="250"/>
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price }}$
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                                <div class="btn-group " role="group" aria-label="Basic mixed styles example">
                                    <a type="button" class="btn btn-danger" href="{% url 'home:product-delete' product.pk %}">Delete</a>
                                    <a type="button" class="btn btn-primary"
                                            href="{% url 'home:product-detail' product.pk %}">Detail
                                    </a>
                                    <a type="button" class="btn btn-warning" href="{% url 'home:product-edit' product.pk %}">Edit</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}