.masthead {
  height: 30vh;

  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD_g0ijRhkBmMIfQCytw1JEU10sH04MUf2ww&usqp=CAU');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}