.masthead {
  height: 100vh;

  background-image: url('https://img.freepik.com/premium-photo/antique-typewriter-vintage-items-photo-camera_154730-16.jpg?w=2000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}